<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to Text Analyzer</h1>
<form action="removepunc" method="get">
<textarea name='text' style="width: 1246px; height: 195px;"></textarea>
    <input type="checkbox" name="removepunc">Remove Punctuation<br>
    <input type="checkbox" name="fullcaps">Capitialize Text<br>
    <input type="checkbox" name="newlineremover">Remove New Line<br>
    <input type="checkbox" name="extraspaceremover">Remove Extra Spaces<br>
    <input type="checkbox" name="charcount">Count Characters<br>
<button type="submit">Analyze Text</button>
</form>
</body>
</html>